<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Micro_Car_Traders.Properties.Settings.MicroCarTradersConnectionString" connectionString="Data Source=MUHAMMEDH\SQLEXPRESS;Initial Catalog=MicroCarTraders;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Micro_Car_Traders.Properties.Settings.MicroCarTradersConnectionString1" connectionString="Data Source=DESKTOP-FFSCS9P\SQLEXPRESS;Initial Catalog=MicroCarTraders;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
